.price__header {
  @media (min-width: 0px) {
    text-align: center;
  }
  @media (min-width: 576px) {
    text-align: center;
  }
  @media (min-width: 768px) {
    text-align: left;
  }
}

.price__block-image {
  max-width:100%;
  height:auto;
  @include responsive_img;
}