

.home {

  &__button {
    background: rgb(248, 39, 222);
    background: linear-gradient(90deg, rgba(248, 39, 222, 1) 0%, rgba(43, 20, 249, 1) 100%);
  }

  &__header {
    //margin-top: 55px;
    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //justify-content: center;

  }

  &__logo {
    //margin: 0 6.25rem 0 0;
    width: 53.89px;
    height: 56.25px;
    background-image: url($ico_path + "CoinEx Token (CET).svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__links {
    &_route {
      //margin: 0 1rem;
      text-decoration: none;
    }
  }
}