@font-face {
  font-family: 'Roboto_400_Regular';
  src: url($font_path + 'Roboto400-Regular.ttf');
}

@font-face {
  font-family: 'Roboto_500_Medium';
  src: url($font_path + 'Roboto500-Medium.ttf');
}

@font-face {
  font-family: 'Roboto_600_SemiBold';
  src: url($font_path + 'Roboto600-SemiBold.ttf');
}

@font-face {
  font-family: 'Roboto_700_BoldItalic';
  src: url($font_path + 'Roboto700-BoldItalic.ttf');

}