@mixin Roboto_400_Regular {
  font: {
    style: normal;
    family: $font_Roboto_400_Regular;
    size: 0.875rem;
    weight: 400;
  }
  line-height: 19.28;
}

@mixin Roboto_500_Medium {
  font: {
    style: normal;
    family: $font_Roboto_500_Medium;
    size: 0.813rem;
    weight: 500;
  }

}

@mixin Roboto_600_SemiBold {
  font: {
    style: normal;
    family: $font_Roboto_600_SemiBold;
    size: 0.875rem;
    weight: 600;
  }
  line-height: 19.28;
}

@mixin Roboto_700_Bold {
  font: {
    style: italic;
    family: $font_Roboto_700_BoldItalic;
    size: 1.125rem;
    weight: 700;
  }
  line-height: 24.78;
}

@mixin flex_item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border_color;
  padding: 0.75rem;
}
@mixin flex_item_2 {
  display: flex;
  justify-content: left;
  align-items: center;
  border: $border_color;
  padding: 0.75rem;
}

@mixin flex_table {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@mixin button_style {
  padding: 0.938rem 2rem;
  cursor: pointer;

  &:hover {
    color: white;
    border-radius: 0.25rem;
    background-color: #474955;
  }

  @include Roboto_500_Medium;
}

@mixin m_p_height {
  height: auto;
  padding: 0;
  margin: 0;
}

@mixin responsive_img {
  @media (min-width: 0px) {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    max-width: 17.063rem;
    height: auto;
  }
  @media (min-width: 576px) {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 17.063rem;
    height: auto;
  }
  @media (min-width: 768px) {
    max-width: 27rem;
    height: auto;
  }
}
@mixin responsive_section {
  @media (min-width: 0px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 576px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

@mixin header_media{
  position: absolute;
  top: 37.5rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
