// colors

$search_background: #5A5C66;
$search_color:#B2B7BF;
$border_color:1px solid #E3E6EC;

$pagination_active_color:#7EBC3C;
$arrow_color: 1px solid #ffffff;

$layout_color:#CC23E4;



// Header component

$header_background: #474955;

//fonts and icons

$font_path: '../assets/fonts/';
$ico_path: '../assets/svg/';

$font_Roboto_400_Regular:'Roboto_400_Regular';
$font_Roboto_500_Medium:'Roboto_500_Medium';
$font_Roboto_600_SemiBold:'Roboto_600_SemiBold';
$font_Roboto_700_BoldItalic:'Roboto_700_BoldItalic';

