// Search component

$search_background: #5A5C66;
$search_color:#B3B7BF;


// Header component

$header_background: rgba(230, 231, 234, 78%);

//fonts

$font_path: '../assets/fonts/';

$font_Roboto_400_Regular:'Roboto_400_Regular';
$font_Roboto_500_Medium:'Roboto_500_Medium';
$font_Roboto_600_SemiBold:'Roboto_600_SemiBold';
$font_Roboto_700_BoldItalic:'Roboto_700_BoldItalic';

