.button {
  display: inline-block;
  text-decoration: none;
  width: 12.063rem;
  white-space: nowrap;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.938rem 2rem;
  margin: 0.25rem 0.75rem;
  text-align: center;

  &:active {
    transform: scale(0.98);
  }
}
