.header__block_button {
  @extend .button;
  position: absolute;
  right: 7.5rem;
  top: 2.813rem;

  color: #ffffff;
  background-color: inherit;
  border: 0.125rem solid #ffffff;

  &:hover {
    color: #d824e2;
    background: #ffffff;
  }
}

.main-buttons__button-v2 {
  @extend .button;
  background: linear-gradient($body_color, $body_color) padding-box,
    linear-gradient(45deg, #d824e2, #5317f4) border-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #ffffff;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

  &:hover {
    color: #d824e2;
    background: #ffffff;
    border: 1px solid #ffffff;
  }
}
