.arrow {
  top: 35%;
  width: 4.59px;
  height: 4.59px;
  margin-left: 35px;

  border-right: $arrow_color;
  border-bottom: $arrow_color;

  transform: rotateZ(45deg) translateY(0px);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
}
