@import "~bootstrap/scss/bootstrap-grid";

.main {
  margin-bottom: 50px;
  &-buttons {
    display: flex;
    flex-direction: row;
  }
  &__content {
    margin: 0 0 0 12px;

  }
  &__content_text{
    margin: 55px 0;
  }
  &__rectangle {
    background: linear-gradient(269.43deg, #df25e1 -10.55%, #5218f4 114.67%);
    z-index: -1;
  }
}
