
.search {

  margin: 0;
  max-width: 631px;
  width: auto;
  height: auto;
  position: relative;
  background-color: $search_background;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    margin: auto 0;
    width: 21px;
    height: 20.98px;



    background-image: url($ico_path + "search.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search__input {

    @include Roboto_400_Regular;
    color: white;
    border: none;
    background-color: $search_background;


    padding: 0 0 0 26px;
    width: 605px;
    height: 52px;


    ::placeholder {
      color: $search_color;
    }
  }
}
