.search {
  margin: 0;
  max-width: 39.438rem;
  width: auto;
  height: auto;
  position: relative;
  background-color: $search_background;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.625rem;
    margin: auto 0;
    width: 1.313rem;
    height: 1.311rem;

    background-image: url($ico_path + "search.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search__input {
    @include Roboto_400_Regular;
    color: white;
    border: none;
    background-color: $search_background;

    padding: 0 0 0 1.625rem;
    width: 37.813rem;
    height: 3.25rem;

    ::placeholder {
      color: $search_color;
    }
  }
}
