.myTable {
  @include Roboto_600_SemiBold;

  display: grid;
  grid-template-columns: 4rem 33.3% auto;
  grid-template-rows: 4rem;
  justify-items:center;



  padding: 0 0.5rem;
  width: 100%;
  max-height: 3rem;

  background-color: $header_background;
  color: #ffffff;
  box-shadow: 0 4px 27px rgba(230, 231, 234, 0.78);

  &__id {
    @include flex_table;
  }
}
