@import "modules/reset";
@import "modules/vars";
@import "modules/fonts";
@import "modules/mixins";

@import "blocks/wrap";
@import "blocks/search";
@import "blocks/grid";
@import "blocks/item";
@import "blocks/table";
@import "blocks/arrow";

.container {
  margin: 0 auto;
  padding: 23px 0 12px 0;
  display: flex;
  justify-content: center;
}

