
//vars adding before bootstrap block imports
@import "modules/vars";
@import "modules/fonts";
@import "modules/mixins";

@import "blocks/search";
@import "blocks/item";
@import "blocks/table";
@import "blocks/arrow";
@import "blocks/pagination";
@import "blocks/number";
@import "blocks/home";
@import "blocks/third";
@import "blocks/trinity";
@import "blocks/header";
@import "blocks/price";
@import "blocks/roadmap";
@import "blocks/footer";

@import "buttons/button";
@import "buttons/filled";
@import "buttons/outline";
@import "buttons/humburger";

@import "media/numberMedia";
@import "media/headerMedia";
@import "media/mainMedia";
@import "media/greatMedia";
@import "media/footerMedia";
@import "media/priceMedia";
@import "media/first-sectionMedia";



// bootstrap block imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//add custom map after bootstrap block imports
@import "modules/map-amends";


//main bootstrap import must be last
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  color: white;
  background-color: $body_color;
}

#white-body{
  background-color:white;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include make-container();
  max-width: 1400px;
}

//col amount
$grid-columns: 12;

//col width
$grid-gutter-width: 1.5rem;

//breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

//container max-width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px,
);
