@import "modules/reset";
@import "modules/vars";
@import "modules/fonts";
@import "modules/mixins";


@import "blocks/search";
@import "blocks/item";
@import "blocks/table";
@import "blocks/arrow";
@import "blocks/pagination";

@import '~bootstrap/scss/bootstrap';

.container {
  margin: 0 auto;
  padding: 23px 0 12px 0;
  display: flex;
  justify-content: center;
}

.wrap{
  display:flex;
  flex-direction: column;

}

